autogluon==1.1.1
catboost==1.2.5
category-encoders==2.6.1
GRANDE==0.1.6
kaggle==1.6.14
lightgbm==4.3.0
matplotlib==3.9.0
openfe==0.0.12
optuna==3.6.1
pytorch_frame==0.2.2
rtdl_num_embeddings==0.0.9
rtdl_revisiting_models==0.0.2
setuptools==57.5.0
tensorflow==2.16.1
torch==2.2.1
torchcontrib==0.0.2
torcheval==0.0.7
torchmetrics==1.2.1
xfeat==0.1.1
xgboost==2.0.3